body:before {
  content: "SCSS Injected";
  display: block;
  padding: 0.5em;
  border-radius: 0.5em;
  color: rgba(0,0,0,1.0);
  font-size: 1em;
  background: rgba(200,200,200,0.80);
}

body {
  color: gray;
  font-size: 100%;
  background: url(../img/repeater.jpg);
}
